doctype html

html
  head
    meta(charset='utf-8')
    title Todo list
    style a {text-decoration: none; color: black;}

  body
    h1 Here's your todo list

    form(method='post' action='/todo/add')
      label(for='todo') Add a todo : 
      input(type='text' id='todo' name='todo')
      input(type='submit')

    ul
      each todo, index in todolist
        li #[a(href=`/todo/delete/${index}`) ⚔] #{todo}